html, body{
    background-color: whitesmoke;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

.content-wrapper{
    flex: 1 0 auto;
}

.footer{
    flex-shrink: 0;
    background-color: #1b1b1b;
}

.green, a.green:link, a.green:visited, a.green:hover{
    color: #73AD21;
}

.btn-green{
    background-color: #73AD21;
    border-color: #73AD21;
    color: white;
}

.btn-green:hover{
    background-color: #71db71;
    border-color: #71db71;
    color: white;
}

.navbar-dark{
    background-color: #1b1b1b !important;
}

a.nav-link, a.nav-link:visited, a.nav-link:link{
    color: white !important;
}

a.nav-link:hover{
    color: #73AD21 !important;
}

.dropdown-menu{
    background-color: #1b1b1b;
}

.dropdown-item{
    color: white;
}

.dropdown-item:hover{
    background-color: #1b1b1b;
    color: #73AD21;
}

.btn-outline-secondary{
    background-color: #71db71;
    color: #1b1b1b;
}

.btn-outline-secondary:hover{
    background-color: #73AD21;
    color: white;
}

a:hover{
    color: #73AD21;
}

.b, .b:hover, .b:visited, .b:active{
    border-color: whitesmoke;
}

.subs-span
{
    color: #73AD21;
}

.subs-span:hover
{
    text-decoration-line: underline;
    text-decoration-color: #71db71;
    cursor: pointer;
}

strong.article-title{
    font-family: 'Source Sans Pro', sans-serif;
    color: #73AD21;
    text-decoration-color: #73AD21;
    font-size: 15px;
}

strong.article-title:hover{
    color: #71db71;
}

a.article-b-links, a.article-b-links:link, a.article-b-links:visited, a.article-b-links:hover{
    color: #73AD21;
    text-decoration-color: #73AD21;
}

h3.post-title{
    font-family: 'Source Sans Pro', sans-serif;
}

.content-border{
    border-radius: 5px;
    border: 1px solid #73AD21;
    padding: 10px; 
    background-color: #e6e6e6;
    opacity: 0.8;
    color: black;
    word-wrap: auto;
    overflow-wrap: normal;
    overflow-y: auto;
    overflow-x: hidden;
}

.form-control, .form-control:focus{
    border: 1px solid #73AD21;   
}

.input-group-text{
    border: 1px solid #73AD21;
    background-color: #73AD21;
    color: white;
}

.content{
    color: black;
    font-family: 'PT Serif', serif;
}

.btn-teal{
    background-color: #73AD21;
    color: white;
}

.btn-teal:hover{
    color: white;
}

.is-active { display: block; }

.followed-subs:hover{
    text-decoration-line: none;
}

button[type=submit].link { 
    border: none; 
    background: none; 
    display: inline; 
    color: #007bfe;
}

button[type="submit"].link:hover{
    color: #73AD21;
    text-decoration-color: #73AD21;
    text-decoration: underline; 
}